// All Colors

$primary:#d4d4d4;
$secondary:#616161;
$primaryOpacity:#d4d4d48c;
$secondaryOpacity:#6161619a;

// Fonts

$primaryFont : 'Hind Madurai', sans-serif;
$secondaryFont : 'Montserrat', sans-serif;

// Transition
