#works_show{
    width:100%;
    display: flex;
    flex-direction: row;
        .section--first{
            display: flex;
            flex-direction: row;
            article{
                margin: 1em;
            }
            .aside{
                width: 30%;
                margin: 0 0 0 3em;
            }
            .second--article{
                width: 70%;
                margin: 5em;   
            }
            .first--article,
            .second--article {
                
                align-items: flex-start;
                
                .work-name{
                    width: 100%;
                    border-bottom: 2px solid $primary;
                    text-align: center;
                }
        
                .work-customer{
                    margin: 1em 0;
                }
                .cards__ul{
                    margin-top: 1em;
                }
                .cards_li{
                    text-align:justify;
                    font-weight: bolder;
                    padding: 0em 0em 1em 1em;
                }
                .work-details{
                    display: flex;
                    text-align: justify;
                    padding: 0em 0em 1em 1em;
                }
                .links{
                    margin-right: 0;
                }
            }
        }
       
    .section--second{   
        background: url("../images/bg-1.webp");
        background-position: center;
        background-size: cover;
        
        article{
            display: flex;
            align-items: stretch;
            margin: 2em;
            display: flex;
        justify-content: center;
        align-items: center;    
        }
        .workscreen{
            width: 100%;
        }
    }
}