@media (min-width: 992px) {
    #works_show{
        width:100%;
        display: flex;
        flex-direction: row;
            .section--first{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                article{
                    margin: 1em;
                }
                .aside{
                    width: 20%;
                }
                .second--article{
                    width: 70%;
                    margin: 5em;   
                }
                .first--article,
                .second--article {
                    
                    align-items: flex-start;
                    
                    .work-name{
                        width: 100%;
                        border-bottom: 2px solid $primary;
                        text-align: center;
                    }
            
                    .work-customer{
                        margin: 1em 0;
                    }
                    .cards__ul{ display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .cards_li{
                        text-align:center;
                        padding: 1em 0;
                    }
                    .work-details{
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                    }
                    .links{
                        margin-right: 0;
                    }
                }
            }
        
        .section--second{   
            background: url("../images/bg-1.webp");
            background-position: center;
            background-size: cover;
            
            article{
                display: flex;
                align-items: stretch;
                margin: 2em;
                display: flex;
                justify-content: center;
                align-items: center;    
            }
            .workscreen{
                width: 100%;
            }
        }
    }
}