.cards {
    width: 400px;
    height:225px;

    background-color:  $primaryOpacity;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
    opacity:0.4;
    margin: 0 1em 0 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2em;
        font-weight: bolder;
        color:$secondary;
        align-self: center;
    }
    
  }
  .container .cards:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }
  .belleepoque{
    background: url('../images/belleepoque.webp');
    background-position: center;
    background-size: cover;
  }